/********************************TAG SELECTORS*********************************/

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 7rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: auto 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    color: #40514E;
    line-height: 2;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 7px;
    color: #EAF6F6;
    width: 5%;
    margin: 50px auto;
}

/********************************CLASS SELECTORS*********************************/

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.middle-container {
    margin-top: 60px;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 30px;
    margin-top: 90px;
    padding-bottom: 30px;
    line-height: 3;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.my-picture {
    height: 200px;
    width: 200px;
    display: inline-block;
}

.code-img {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.travel-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 60px auto;
    text-align: left;
    line-height: 2;
}

.contact-me {
    width: 40%;
    margin: auto 400px;
}

.text-contact {
    margin: 40px auto 50px auto;
  }

.profile {
    margin: auto 450px;
  }

.end-text {
    color: #EAF6F6;
    font-size: 0.75rem;
  }

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  